.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:hover {
    background-color: #00aeef;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #231f20;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    width: max-content;
}

.dropdown-content button {
    width: 100%;
    border: none; 
    background: none; 
    color: black; 
    padding: 12px 16px; 
    text-align: left; 
    cursor: pointer; 
    font-size: 16px; 
}

.dropdown-content button:hover {
    background-color: #00aeef; 
    color: white; 
}

.dropdown:hover .dropdown-content {
    display: block;
}
