footer {
    width: 100%;
    background-image: url("../../assets/img/footer-bg.png");
    color: white;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-copy {
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.socialRow {
    display: flex; 
    justify-content: flex-end; 
    padding: 10px; 
}

.socialRow img {
    margin: 9px;
    width: 40px;
    height: 40px;
}

.socialIcon {
    display: flex; 
}

.socialIcon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
}

.socialIcon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.socialIcon a:hover::before {
    transform: scale(1);
}

.socialIcon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.socialIcon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
